@font-face {
  font-family: 'Libre Franklin';
  src: url('assets/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}

:root {
  --headerHeight: 50px;
  --tabsHeight: 50px;
  --colorPrimary: #cdcdcd;
  --colorSecondary: #e0e0e0;
  --colorAccent: rgb(82, 230, 198);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.app {
  height: 100vh;
}

.header {
  height: var(--headerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorPrimary);
}

.main {
  height: calc(100vh - var(--headerHeight) - var(--tabsHeight));
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorSecondary);
  padding: 10px;
}

.tabs {
  height: var(--tabsHeight);
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  background: var(--colorPrimary);
}

.tab {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TRACKER --- */
/* TRACKER --- */
/* TRACKER --- */

.tracker {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* PROGRESS BAR --- */

.goal-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.goal-input input {
  height: 50px;
  width: 50px;
  text-align: center;
  border: none;
}

.progress-bar {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: var(--colorPrimary);
}

.progress-bar p {
  position: absolute;
  width: 100%;
  text-align: center;
}

.progress {
  position: absolute;
  height: 50px;
  width: 75%;
  background-color: var(--colorAccent);
}
