:root {
  --headerHeight: 50px;
  --tabsHeight: 50px;
  --colorPrimary: #f7f7f7;
  --colorSecondary: #fafafa;
  --colorAccent: red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.app {
  height: 100vh;
}

.header {
  height: var(--headerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorPrimary);
}

.main {
  height: calc(100vh - var(--headerHeight) - var(--tabsHeight));
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorSecondary);
}

.tabs {
  height: var(--tabsHeight);
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  background: var(--colorPrimary);
}

.tab {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
