@font-face {
  font-family: 'Libre Franklin';
  src: url('assets/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}

:root {
  --headerHeight: 50px;
  --elementHeight: 50px;
  --colorPrimary: #cdcdcd;
  --colorPrimaryAlternate: #dcdcdc;
  --colorSecondary: #e7e7e7;
  --colorAccent: #ff0000;
  --colorText: #000000;
  --space: 10px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

h1,
h2,
h3,
p,
button,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 15px;
  font-weight: 400;
}

h3 {
  font-size: 12px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 200;
}

button {
  font-size: 15px;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  font-size: 12px;
  font-weight: 200;
}

li {
  list-style: none;
}

.app {
  height: 100vh;
}

.header {
  height: var(--headerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorPrimary);
  color: var(--colorText);
}

.main {
  position: relative;
  height: calc(100vh - var(--headerHeight) - var(--elementHeight));
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorSecondary);
  color: var(--colorText);
}

.tabs {
  height: var(--elementHeight);
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  background: var(--colorSecondary);
}

.tab {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorPrimary);
  color: var(--colorText);
  opacity: 0.5;
}

.tab-active {
  opacity: 1;
}

.library,
.tracker {
  height: calc(100% - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space);
  padding: var(--space);
  overflow-y: auto;
}

/* LIBRARY --- */
/* LIBRARY --- */
/* LIBRARY --- */

/* SAVED FOODS --- */

.section-title {
  height: var(--elementHeight);
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: var(--colorPrimary);
}

.title-row {
  margin-top: 10px;
  background: var(--colorSecondary);
}

.row {
  width: 100%;
  display: flex;
  gap: 5px;
  background: var(--colorPrimary);
}

.empty-table-error-message {
  padding: 10px 0;
  padding-left: 10px;
}

.cell {
  padding: 10px 0;
  padding-left: 10px;
}

.cell-food-name,
.input-food-name {
  width: 50%;
}

.cell-grams-of-protein,
.cell-calories {
  width: 20%;
  text-align: right;
}

.cell-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

/* ADD FOOD --- */

.btn-container {
  min-height: var(--elementHeight);
}

.add-food-btn {
  height: var(--elementHeight);
  padding: 0 10px;
  text-align: left;
  background-color: var(--colorPrimary);
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group input {
  margin-top: 10px;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  width: calc(100% - 10px);
}

.input-submit {
  height: var(--elementHeight);
  margin-top: 10px;
  padding: 10px 0;
  background: var(--colorAccent);
  width: 25%;
}

.form-error-message {
  padding: 10px 0;
}

/* TRACKER --- */
/* TRACKER --- */
/* TRACKER --- */

/* PROGRESS --- */

.goal-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space);
}

.goal-input input {
  height: var(--elementHeight);
  width: var(--elementHeight);
  text-align: center;
  border: none;
}

.progress-bar-goal {
  position: relative;
  height: var(--elementHeight);
  width: 100%;
  background-color: var(--colorPrimary);
}

.progress-bar-goal p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar-progress {
  position: absolute;
  height: var(--elementHeight);
  width: 75%;
  background-color: var(--colorAccent);
}

/* FOOD LOG --- */

.new-log-btn {
  height: var(--elementHeight);
  padding: 0 10px;
  text-align: left;
  background-color: var(--colorPrimary);
}
